body {
  background-color: darkolivegreen;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

form label {
  margin: .5rem;
}

form label input {
  text-align: center;
  margin-left: .5rem;
}

.modalMap {
  width: 90vw;
}

li {
  list-style: none;
  text-align: center;
  width: 90vw;
}

.exploreButton {
  background-color: darkgoldenrod;
}

.exploreButton:hover {
  background-color: blueviolet;
  cursor: pointer;
}
